#case-sec {
  margin-top: 12.8rem;
}
.case-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.case-text {
    transform: translatex(12rem);
  padding: 7rem 0;
  display: flex;
  width: 34%;
  /* height: 50%; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: #fff;
  border: 1px solid silver;
}
.case-text h3::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #888;
  margin: 25px;
  display: block;
  margin: 20px auto 10px auto;
}
.case-text h3 {
  font-size: 1.4rem;
  color: #555;
  margin-top: 2.2rem;
}
.case-text p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 75%;
  color: #555;
}
.case-ico {
  background-color: #e64c3c;
  padding: 2rem;
  transform: rotate(45deg);
}
.case-ico img {
  transform: rotate(-45deg);
}
.case-img {
  height: 53rem;
}
