#form {
  margin-top: 12.8rem;
}
.form-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.address-con {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgba(247, 243, 243, 0.966);
  padding: 2rem;
}
.address-con > h4 {
  color: rgba(226, 1, 1, 0.74);
  font-size: 1.8rem;
}
.address-con > p {
  color: #555;
  font-size: 1.2rem;
}
.input-con{
    padding: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: rgba(247, 243, 243, 0.966);
  height: 40vh;
}
input {
  border: none;
  font-size: 1.4rem;
  border-bottom: 1px solid #555;
  padding: 1rem;
}
input[type="submit"]{
    background-color: #E64C3C;
    padding: 1rem 2rem; 
    color: aliceblue;
}
input[type="submit"]:hover,.hero-btn:hover{
    background-color: red;
    transition: .5s ease all;
    cursor: pointer;
}
footer {
  margin-top: 8.8rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/img/3\ \(1\).jpg');
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;
  /* filter: brightness(0.3); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
footer h3 {
  color: aliceblue;
  font-size: 1.8rem;
}
footer p {
  color: aliceblue;
  font-size: 1.2rem;
}
.hero-btn{
    margin-top: 1rem;
    cursor: pointer;
}
.hero-btn a:link{
    color: aliceblue;
}
.footer-logo-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.footer-logos{
  color: #fff;
  height: 1.5rem;
  width: 1.5rem;
  transition: .5s ease;
}
.footer-logos:hover{
  color: #E64C3C;
}
.right-reserved{
  font-size: 1.5rem;
  color: #999;
}
.footer-content{
    position: absolute;
    bottom: 0;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #222;
}