#gallery{
    margin-top: 12.8rem;
}
.gallery-con{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gallery-img{
    width: 100%;
    position: relative;
}
.gallery-img img{
    width: 100%;
}
.hidden-gallery-txt{
    background-image: linear-gradient(rgba(250, 53, 53, 0.671),rgba(250, 53, 53, 0.671));
    color: aliceblue;
    font-size: 1rem;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.hidden-gallery-txt p{
    color: aliceblue;
    font-size: 1.8rem;
}
.gallery-img:hover .hidden-gallery-txt{
 opacity: 1;
 transition: .6s ease all;
}