@media (max-width: 160em) and (min-width: 90em) {
  .heading-primary {
    font-size: 9.6rem !important;
  }

  .hero-container {
    padding-top: 25rem !important;
  }
.feature .material-symbols-outlined{
  color: gray;
}

  .form-container {
    display: flex;
    grid-template-columns: 5fr 3fr !important;
    /* align-items: center;
    justify-content: space-between; */
  }

  .form-content {
    width: 72%;
    transform: translateX(10rem);
  }

  .form-content h2:first-child {
    font-size: 6.4rem;
  }

  .form-content h3 {
    font-size: 3.5rem !important;
  }

  .form-content p {
    font-size: 2.2rem !important;
    max-width: 108rem !important;
  }

  .gallery {
    max-width: 80%;
    margin: auto;
    grid-template-columns: repeat(4, 0.1fr) !important;
  }

  .gallery-img {
    width: 50rem !important;
    height: 49rem !important;
  }

  #portfolio h2:first-child {
    font-size: 4.2rem !important;
  }

  #portfolio p {
    font-size: 2.2rem !important;
  }

  .case-content {
    height: 111% !important;
    left: -41.5rem !important;
    gap: 8rem !important;
  }

  .case-context p {
    font-size: 2.2rem !important;
  }

  .case {
    margin-top: 20rem !important;
  }

  .case-img {
    transform: translateX(28rem);
  }

  .case-img img {
    transform: scale(1.7);
  }

  #stats {
    margin-top: 50rem !important;
  }

  .stat-box img {
    width: 100% !important;
  }

  .stat-icons {
    left: 28rem !important;
    top: -28rem !important;
  }

  .stat-icons span {
    height: 15rem;
    width: 16rem;
    padding: 5rem !important;
    font-size: 5rem !important;
  }

  .stat-ico p:nth-child(even) {
    font-size: 2.2rem !important;
  }

  .price {
    padding: 10.6rem !important;
  }

  #team {
    background-size: cover;
  }

  .wave-box::after {
    display: block;
    bottom: -60.2rem !important;
  }

  .team-img img {
    height: 15rem !important;
    width: 15rem !important;
  }

  .team-img-3 {
    top: 90% !important;
  }

  .team-img-4 {
    top: 106% !important;
  }

  .feature {
    max-width: 64rem !important;
    max-height: 70rem !important;
  }

  .feature img {
    width: 100% !important;
  }

  .feature-con h3 {
    font-size: 2.6rem !important;
  }

  .feature-con p {
    font-size: 1.8rem !important;
  }

  #address {
    margin-top: 15rem !important;
  }

  .address-con {
    width: 52% !important;
  }

  .address-con p {
    font-size: 1.8rem;
  }

  label {
    font-size: 2.9rem !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    height: 5rem !important;
    border: 1px solid black !important;
  }

  .footer-con {
    top: 39% !important;
    left: 38% !important;
  }

  .footer-con h1 {
    font-size: 2.7rem;
  }

  .footer-con p {
    font-size: 1.8rem;
  }
}

/* ***************************************************************** */
/* Laptop */
/* **************************************************************************** */
@media (max-width: 90em) {
  header {
    height: 90vh !important;
  }

  .nav-container {
    gap: 12rem;
  }

  .hero-container {
    padding-top: 9.6rem !important;
  }

  .heading-primary {
    margin: 1rem !important;
    font-size: 3.2rem !important;
  }

  .heading-sec {
    font-size: 1.3rem;
    letter-spacing: 1.2;
  }

  .anchor {
    bottom: -3% !important;
  }

  .form-container {
    height: max-content !important;
  }

  .form-content {
    padding: 1rem 4rem 4rem 0rem;
    margin: 0 !important;
  }

  .form-content h2:first-child {
    font-size: 4rem;
  }

  .form-content h3 {
    font-size: 2.5rem !important;
  }

  .form-content p {
    font-size: 1.5rem !important;
  }

  .img-box {
    max-width: max-content !important;
    width: 119%;
    transform: translateX(-10.4rem);
  }

  #portfolio {
    margin-top: 28.6rem !important;
  }

  #portfolio p,
  .bread {
    font-size: 1.5rem !important;
  }

  .gallery {
    max-width: max-content !important;
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .gallery-img {
    width: 100% !important;
    height: 30rem !important;
  }

  .case-content {
    z-index: 3;
    height: 71% !important;
    gap: 5rem !important;
  }

  .case-context p {
    font-size: 1.2rem !important;
  }

  .case-img {
    transform: translateX(1rem) !important;
  }

  .case-img img {
    transform: scale(1.1);
  }

  .stat-icons {
    left: 12% !important;
    top: -17rem !important;
  }

  .stat-icons span {
    padding: 3rem !important;
    height: max-content !important;
    width: max-content !important;
    font-size: 2.5rem !important;
  }

  .stat-ico p:nth-child(even) {
    font-size: 1.5rem !important;
  }
  .wave-box::after {
    display: block;
    bottom: -33.8rem !important;
  }
  .price {
    padding: 5.6rem !important;
  }

  .team-img img {
    height: 7rem !important;
    width: 7rem !important;
  }

  .feature-con h3 {
    font-size: 1.6rem !important;
  }

  .feature-con p {
    font-size: 1.2rem !important;
  }

  .material-symbols-outlined {
    bottom: -115%;
  }

  #feature-sec {
    margin-top: 15%;
  }

  .features {
    margin: 20rem 2rem;
  }

  .monitor-img {
    max-width: 50%;
  }

  .address-con h2 {
    font-size: 2.7rem !important;
  }

  .address-con {
    width: 35% !important;
  }

  .address-form {
    align-items: center;
    justify-content: center;
  }

  .address-form div:nth-child(2) {
    width: 34% !important;
  }

  label {
    font-size: 1.9rem !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    height: 3rem !important;
  }

  input[type="password"] {
    width: 291% !important;
  }

  .footer-con {
    top: 29% !important;
    left: 30% !important;
  }
}

/* ***************************************************************** */
/* Laptop medium */
/* **************************************************************************** */
@media (max-width: 64em) {
  header {
    height: 100vh !important;
  }

  .nav-container {
    gap: 9.6rem;
    left: 15%;
  }

  .logo {
    height: 1rem;
    width: 1rem;
  }

  .nav-links {
    gap: 3rem;
  }

  .nav-links li a {
    font-size: 1.1rem !important;
  }

  .hero-txt {
    font-size: 1.1rem !important;
  }

  .hero-container button {
    font-size: 1.1rem;
    margin-top: 5rem !important;
  }

  .hero-btn {
    margin-top: 0 !important;
  }

  #feature-sec {
    max-width: 100% !important;
  }

  .features {
    column-gap: 1rem !important;
    padding: 1rem;
  }

  .feature {
    max-width: 86% !important;
  }

  .feature img {
    height: 100%;
  }

  .feature h3 {
    font-size: 1.7rem;
  }

  .feature p {
    font-size: 1.2rem !important;
  }

  .img-box {
    /* max-width: max-content !important; */
    /* width: 119%; */
    transform: translateX(0.6rem);
  }
  .stat-icons span {
    padding: 1.5rem !important;
    height: 6rem !important;
    width: 6rem !important;
    font-size: 2.5rem !important;
  }

.case-content {
  height: 93% !important;
  gap: 3rem !important;
  left: -56% !important;
}

.case-content h2 {
  font-size: 1.5rem !important;
}

.case-context p {
  font-size: 1rem !important;
}

.case-heading::after {
  left: 44% !important;
}

.case-img {
  transform: translateX(-7rem) !important;
}

.case-img img {
  transform: scale(1) !important;
}

.features {
  column-gap: 0 !important;
}

.feature {
  max-height: 35rem !important;
}

.feature p {
  font-size: 1rem !important;
}

.feature h3 {
  margin-top: 1rem !important;
}

.address-con h2 {
  font-size: 2rem !important;
}

.address-con p {
  font-size: 1.4rem;
  text-align: left;
}

form {
  padding: 0 !important;
}

.form-txt {
  margin: 5.4rem 0 !important;
}

.form-content h3 {
  font-size: 2rem !important;
}

.form-content p {
  font-size: 1.2rem !important;
}

.gallery {
  max-width: 100vw !important;
}

.gallery-img {
  height: 25rem !important;
}



.wave-box::after {
  display: block;
  bottom: -25.7rem !important;
}
.price {
  padding: 0.5rem !important;
}

#pricing {
  margin: 0;
}

.wave {
  top: 60% !important;
}

.team-img img {
  height: 6rem !important;
  width: 6rem !important;
  border: 2px solid #ff5f4d !important;
}

.team-img-4 {
  top: 100% !important;
}

.team-img-5 {
  top: 81% !important;
}

.features {
  padding: 0 !important;
}

.feature {
  max-width: 105% !important;
}

.feature-con {
  gap: 0 !important;
}

#blog h2:first-child {
  text-align: center;
}

.footer-con {
  top: 27% !important;
  left: 21% !important;
}

.form-content h2:first-child {
  font-size: 2.6rem;
  margin: 1rem;
}

.form-content pre {
  margin: 0.7rem !important;
}
}
/* ***************************************************************** */
/* Tablets */
/* **************************************************************************** */
@media (max-width: 48em) {
  header {
    height: 75vh !important;
  }

  nav {
    width: 100% !important;
  }

  .hero-container {
    padding-top: 9rem !important;
  }

  .heading-sec {
    font-size: 1.1rem !important;
  }

  .nav-container {
    left: 17% !important;
  }
  .team-name{
    margin-top: 5px !important;
  }

  #hero {
    top: 10rem !important;
  }

  .heading-primary {
    font-size: 3.2rem !important;
  }

  #hero p {
    font-size: 1rem;
  }

  .anchor {
    bottom: -30% !important;
  }

  .features {
    grid-template-columns: 2fr 2fr !important;
    padding: 3rem !important;
    gap: 0 !important;
  }

  .feature {
    max-width: 102% !important;
  }

  .features-main {
    row-gap: 7rem !important;
  }

  .form-container {
    display: flex !important;
    overflow: visible !important;
    justify-content: flex-end !important;
    gap: 0rem !important;
    height: 100% !important;
  }

  .form-content {
    padding: 0% !important;
  }

  .img-box {
    grid-row: 1 !important;
    max-height: 45% !important;
    width: 100% !important;
  }

  .img-box img {
    width: 100vw !important;
  }

  .form-content {
    grid-row: 2 !important;
  }

  .price {
    padding: 0.5rem !important;
  }

  .shift-feature-1 .feature:nth-child(3) {
    grid-column: 2;
  }

  .shift-feature-1 .feature:nth-child(4) {
    grid-row: 2;
  }

  .shift-feature-2 .feature:nth-child(1) {
    grid-column: 2;
  }

  .shift-feature-2 .feature:nth-child(2) {
    grid-row: 1;
  }

  .shift-feature-2 {
    padding-top: 0 !important;
    margin-top: -3rem !important;
  }

  .history {
    flex-direction: column !important;
    gap: 3.2rem;
  }

  .history-con {
    max-width: 90% !important;
  }

  .history-btn {
    display: block;
    margin: auto;
  }

  .form-container {
    flex-direction: column-reverse;
    height: 140% !important;
  }

  #portfolio {
    margin-top: 58rem !important;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .t-shirt-in {
    width: 40rem !important;
    bottom: 154% !important;
  }

  .case {
    margin-top: 3rem !important;
  }

  .case-content {
    max-width: 66% !important;
    left: -27.5rem !important;
  }

 .stat-icons {
  top: -22rem !important;
  left: 1% !important;
  max-width: 100% !important;
}

  .stat-ico br:nth-child(odd) {
    display: none;
  }

  #pricing {
    margin: 0 !important;
    padding: 0 !important;
  }

  .main-pricing {
    flex-direction: column !important;
    gap: 10rem !important;
  }

  .price {
    width: 50% !important;
  }

  #team {
    height: 30vw !important;
  }

  .stat-box
 {
    height: 26vh !important;
  }
  .wave-box {
    height: 10vh !important;
  }

  .address-form {
    flex-direction: column !important;
    gap: 3rem !important;
  }

  .address-con {
    width: 70% !important;
  }

  .address-form div:nth-child(2) {
    width: 50% !important;
  }

  input[type="password"] {
    width: 206% !important;
  }

  .footer-con {
    left: 11% !important;
  }
}

/* ***************************************************************** */
/* phones */
/* **************************************************************************** */
@media (max-width: 27rem) {
  header img:first-child {
    /* border: 2px solid red !important; */
    height: 4vh !important;
  }

  .hero-container {
    padding-top: 2rem !important;
  }

  .hero-txt {
    max-width: 63% !important;
  }

  .heading-sec {
    font-size: 1.2rem !important;
  }

  .heading-primary {
    font-size: 2.5rem !important;
  }

  .anchor {
    bottom: -67% !important;
    left: 47% !important;
  }

  .features-main {
    grid-template-columns: 1fr !important;
  }

  .history {
    padding: 0 !important;
    margin: 3rem 1rem !important;
  }
  .history-con h1 {
    font-size: 2.5rem !important;
    /* line-height: 1.2 !important; */
  }

  .monitor-img {
    max-width: 100% !important;
  }

  .history-con {
    margin: 0 !important;
  }
  .gallery-img {
    height: 37rem !important;
  }
  .stat-box img {
    width: 100% !important;
    height: 20vh !important;
  }
  footer .stat-box img{
    height: 38vh !important;
  }
  .case-content h2 {
    font-size: 1.2rem !important;
  }

  .form-content {
    max-width: 100%;
    padding: 1rem 4rem 1rem 0rem !important;
    width: 100% !important;
    transform: translateX(3rem) !important;
  }

  .form-txt {
    margin: 1.4rem 0 !important;
  }

  .form-content p {
    font-size: 1rem !important;
    margin-bottom: 4rem !important;
    width: 100% !important;
  }

  pre {
    overflow: hidden !important;
  }

  #portfolio p:nth-child(2) {
    font-size: 1rem;
  }

  .gallery {
    background: #000;
    grid-template-columns: 1fr !important;
  }

  .t-shirt-in {
    width: 43rem !important;
    height: 65rem !important;
    bottom: 170% !important;
  }

  .case-content {
    max-width: 129% !important;
    height: 138% !important;
    left: -31.5rem !important;
    gap: 1.5rem !important;
  }

  .case-img {
    transform: translateX(-24rem) !important;
  }
  .case-img img {
    transform: scale(1.5) !important;
  }

  .case-img {
    max-width: 100% !important;
  }

  .case-icon {
    height: 6rem !important;
    width: 6rem !important;
    padding: 2rem 1rem !important;
  }

  #stats {
    margin-top: 40rem !important;
  }

  .stat-icons {
    gap: 0.5rem !important;
    left: 0 !important;
    max-width: 100% !important;
        top: -12rem !important;
  }
  #team {
    height: 42vw !important;
}
.wave-box::after {
    display: block;
    bottom: -12.2rem !important;
    height: 100% !important;
}
.team-name{
  font-size: 1.2rem !important;
  margin-top: 3rem !important;
}
.team-name span{
  font-size: 1rem;
}
  .stat-ico p {
    margin-bottom: 0 !important;
  }

  .stat-ico p:nth-child(even) {
    font-size: 1rem !important;
  }

  .stat-icons span {
    padding: 3rem !important;
    height: max-content !important;
    width: max-content !important;
    font-size: 1rem !important;
  }

  .stat-ico span {
    padding: 1rem !important;
  }

  .stat-ico p {
    font-size: 1rem !important;
  }

  .stat-box {
    height: 100% !important;
  }

  .main-pricing {
    flex-direction: column;
  }

  .price {
    width: 90% !important;
  }

  .shift-feature-1,
  .shift-feature-2 {
    display: flex !important;
    flex-direction: column;
  }
  .wave {
    top: 35% !important;
  }
  .team-img img {
    height: 4rem !important;
    width: 4rem !important;
  }
  .team-img-1 {
    top: 54% !important;
  }
  .team-img-2 {
    top: 54% !important;
    right: 59% !important;
  }
  .team-img-3 {
    top: 49% !important;
    right: 43% !important;
  }
  .team-img-4 {
    top: 54% !important;
    right: 20% !important;
  }

  .team-img-5 {
    top: 54% !important;
    right: -8% !important;
  }
  .team-img-5 .team-name{
    transform: translateX(-4rem);
  }
  .shift-feature-2 {
    flex-direction: column-reverse !important;
  }
  .address-con {
    width: 100% !important;
  }
  input[type="password"] {
    width: 118% !important;
  }
  input[type="submit"] {
    display: block;
    margin: auto;
  }
  #address div:first-child {
    flex-direction: column !important;
    gap: 1rem !important;
  }

  #address div:first-child div:nth-child(2) {
    width: 85% !important;
  }

  .address-con {
    align-items: center !important;
  }
}
