@media (max-width: 48em) {
  header {
    height: 65vh;
    background-size: cover;
  }
  .services-con {
    flex-direction: column-reverse;
  }
  .services-img img {
    height: 48vh;
    width: 100vw;
  }
  .services-con {
    height: 87vh;
  }
  .services-text {
    height: 34%;
  }
  .case-img {
    height: 44rem;
  }
  .price {
    padding: 0.6rem;
  }
  .case-text h3 {
    font-size: 1.2rem;
  }

  .case-text p {
    font-size: 1rem;
    max-width: 75%;
  }

.hero-txt {
  gap: 0rem;
}
.hero-txt h1 {
  font-size: 4.2rem;
}
.hero-txt h3 {
  font-size: 1.2rem;
}
.hero-txt p {
  max-width: 76%;
}
.hero-btn {
  font-size: 1.2rem;
}

.hero-con {
  transform: translateY(23rem);
}
.d-arrow {
  left: 47.5%;
}
.features-con {
  display: grid;
  gap: 5rem;
  margin: 12.8rem auto;
  grid-template-columns: repeat(2, 1fr);
}
#monitor {
  margin-top: 45rem;
}
.feature p {
  max-width: 64%;
}

.monitor-img img {
  height: 27rem;
  width: 33rem;
}
.services-text h3 {
  font-size: 2.2rem;
}
.services-text h4 {
  font-size: 1rem;
}
.services-text p {
  color: #888;
  font-size: 1rem;
  text-align: right;
  width: 103%;
  margin-left: -1rem;
}
.case-text {
  transform: translatex(12rem);
  padding: 5rem 0;
  width: 40% !important;
}
.case-ico {
  padding: 1.5rem;
}
.case-ico img {
  height: 1.5rem;
  width: 1.5rem;
}
.stat-ico img {
  height: 2rem;
  width: 2rem;
}
.stat-box {
  gap: 2rem;
  justify-content: center;
}
.stat p {
  font-size: 1.2rem;
  width: 13rem;
}
.main-pricing {
  gap: 0rem;
}
.price h3 {
  font-size: 2.2rem !important;
}
.price p {
  font-size: 1.2rem !important;
}
.after-wave {
  bottom: -82px;
  left: 224px;
  width: 100%;
  height: 56%;
  transform: rotate(-39deg);
}
.teams-con {
  opacity: 0.2;
  transform: rotate(-39deg);
  height: 32vh;
}
.team-img img {
  height: 4rem;
  width: 4rem;
}
.team-img-1 {
  transform: translate(8rem, -9rem);
}
.team-img-2 {
  transform: translate(24rem, -18rem);
}
.team-img-3 {
  transform: translate(42rem, -32rem);
}
.team-img-4 {
  transform: translate(56rem, -49rem);
}
.team-img-5 {
  transform: translate(67rem, -72rem);
}
.teams-head {
  margin-top: 1rem;
  gap: 0rem;
}
#teams h2 {
  font-size: 1.8rem;
}
#teams p {
  font-size: 1rem;
}
.blog-txt p {
  font-size: 1rem;
}
.blog-txt h3 {
  font-size: 1.4rem;
}
.blog-txt {
  gap: 1rem;
}

.address-con > h4 {
    font-size: 1.4rem;
}
.address-con {
    height: 32vh;
}
form {
    height: 32vh;
}
footer h3 {
    font-size: 1.4rem;
}
footer p {
    font-size: 1rem;
}
.right-reserved {
    font-size: 1rem;
}
}