#services {
  margin-top: 12.8rem;
}
.services-con {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #222;
}
.services-img {
  justify-self: flex-end;
}
.services-img img {
  height: 60vh;
  width: 47vw;
  transform: translateX(0.3rem);
}
.services-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  height: 73%;
  transform: translateX(0rem);
}
.services-text h3 {
  text-align: center;
  color: aliceblue;
  font-size: 3.2rem;
}
.services-text h4 {
  color: #e64c3c;
  font-size: 1.4rem;
  text-align: right;
}
.services-text p {
  color: #888;
  font-size: 1.2rem;
  text-align: right;
  width: 80%;
  margin-left: 13rem;
}
