.clients {
  margin-top: 15rem;
  width: 57%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  @include respond(desktop-1300) {
    width: 67%;
  }
  @include respond(laptop) {
    width: 79%;
  }
  @include respond(tab-768) {
    width: 89%;
    // grid-template-columns: repeat(4, 1fr);
  }
  @include respond(tab-810) {
    width: 89%;
    // grid-template-columns: repeat(4, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include respond(phone-425) {
    grid-template-columns: repeat(2, 1fr); 
  }
  @include respond(phone-320) {
    grid-template-columns: repeat(2, 1fr); 
  }
  &__logo {
    padding: 2rem 3rem !important;
    // @include respond(big-desktop) {
    //   padding: 2rem 3rem;
    // }
    box-shadow: 0.5px 0.5px 5px #00000065;
    background-color: $color-grey-light-1;
    transition: all 0.6s ease;
    &:nth-child(7) {
      background-color: $color-primary-dark;
    }
    &:hover {
      transform: scale(1.1);
    }
    @include respond(big-desktop) {
      padding: 3rem 7rem;
    }
    @include respond(desktop-1680) {
      padding: 3rem 6rem;
    }
    @include respond(tab-768) {
      padding: 3rem 4rem;
    }
    @include respond(tab-810) {
      padding: 3rem 4rem;
    }
    img {
      @include respond(big-desktop) {
        width: 12rem;
        height: 6rem;
      }
      @include respond(laptop) {
        width: 10rem;
        height: 4rem;
      }
      @include respond(tab-768) {
        width: 7rem;
        height: 2rem;
      }
      @include respond(tab-810) {
        width: 7rem;
        height: 2rem;
      }
      opacity: 0.35;
      width: 11rem;
      height: 5rem;
      margin: 0 auto;
    }
  }
}
